# Organization name
ORGA=lanit

# Admin password
ADMIN=admin

# Hostname to use - use .local for internal HTTPS certificate generation
SERVER_HOSTNAME=servu.local

# Steam developer API key (https://steamcommunity.com/dev/apikey)
GET5_STEAM_API_KEY=

# Steam ID64 of admins, comma separated
# MatchZy gets admins from this variable
GET5_ADMINS=

# Steam ID64 of superadmins, comma separated
GET5_SUPERADMINS=

# Latest metamod download url can be found from https://www.metamodsource.net/downloads.php?branch=dev
METAMOD_RELEASE_URL=https://mms.alliedmods.net/mmsdrop/2.0/mmsource-2.0.0-git1319-linux.tar.gz

# Latest cssharp download url can be found from https://github.com/roflmuffin/CounterStrikeSharp/releases (the one with runtime)
CSSHARP_RELEASE_URL=https://github.com/roflmuffin/CounterStrikeSharp/releases/download/v301/counterstrikesharp-with-runtime-build-301-linux-0f71e1a.zip

# Latest matchzy download url can be found from https://github.com/shobhit-pathak/MatchZy/releases/ (the one with cssharp)
MATCHZY_RELEASE_URL=https://github.com/shobhit-pathak/MatchZy/releases/download/0.8.8/MatchZy-0.8.8.zip