# Passwords
CS2_PW=$ORGA
CS2_RCONPW=$ORGA$ADMIN
TV_PW=$ORGA
TV_RELAY_PW=$ORGA

# SRCDS_TOKEN and CS_LAN=0 are only required if hosting to internet
SRCDS_TOKEN=
CS2_LAN=1

# Set STEAMAPPVALIDATE=1 to force game update
STEAMAPPVALIDATE=0

CS2_GAMEMODE=1
CS2_GAMETYPE=0
CS2_MAPGROUP=mg_active
CS2_MAXPLAYERS=12
CS2_PORT=27015
CS2_SERVER_HIBERNATE=0
CS2_SERVERNAME=$ORGA
CS2_STARTMAP=de_inferno
TV_AUTORECORD=0
TV_DELAY=0
TV_ENABLE=1
TV_MAXRATE=0
TV_PORT=27020