# Get5 database
MYSQL_CHARSET=utf8mb4
MYSQL_COLLATION=utf8mb4_general_ci
MYSQL_DATABASE=get5
MYSQL_PASSWORD=supersecret
MYSQL_ROOT_PASSWORD=supersecret
MYSQL_USER=get5

# Get5 backend
ADMINS=$GET5_ADMINS
APIURL=https://g5.$SERVER_HOSTNAME/api
CLIENTHOME=https://g5.$SERVER_HOSTNAME
DATABASE=get5
DBKEY=900d0b38be600093a06b8f041266603b
HOSTNAME=https://g5.$SERVER_HOSTNAME
LOCALLOGINS=false
NODE_ENV=production
PORT=3301
REDISTTL=86400
REDISURL=
SHAREDSECRET=supersecret
SQLHOST=get5-db
SQLPASSWORD=supersecret
SQLPORT=3306
SQLUSER=get5
STEAMAPIKEY=$GET5_STEAM_API_KEY
SUPERADMINS=$GET5_SUPERADMINS
UPLOADDEMOS=true
USEREDIS=false